 body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 248889 140000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%22248889%22 height=%22140000%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h248889v140000H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23E5E5F7%22 d=%22M0 0h248889v140000H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23d0d0d0e3%22 stroke-width=%2249.778%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h14641v14641H0zM14641 0h14641v14641H14641zM29282 0h14641v14641H29282z%22%2F%3E%3Cpath fill=%22%23d0d0d033%22 d=%22M43923 0h14641v14641H43923z%22%2F%3E%3Cpath fill=%22none%22 d=%22M58564 0h14641v14641H58564z%22%2F%3E%3Cpath fill=%22%23d0d0d046%22 d=%22M73205 0h14641v14641H73205z%22%2F%3E%3Cpath fill=%22none%22 d=%22M87846 0h14641v14641H87846z%22%2F%3E%3Cpath fill=%22%23d0d0d08b%22 d=%22M102487 0h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M131769 0h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d074%22 d=%22M146410 0h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d09f%22 d=%22M161051 0h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M175692 0h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d02e%22 d=%22M204974 0h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d098%22 d=%22M219615 0h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d062%22 d=%22M234256 0h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 14641h14641v14641H0zM14641 14641h14641v14641H14641z%22%2F%3E%3Cpath fill=%22%23d0d0d089%22 d=%22M29282 14641h14641v14641H29282z%22%2F%3E%3Cpath fill=%22%23d0d0d03c%22 d=%22M58564 14641h14641v14641H58564z%22%2F%3E%3Cpath fill=%22none%22 d=%22M87846 14641h14641v14641H87846zM102487 14641h14641v14641h-14641zM117128 14641h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d06e%22 d=%22M131769 14641h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M146410 14641h14641v14641h-14641zM175692 14641h14641v14641h-14641zM204974 14641h14641v14641h-14641zM219615 14641h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d097%22 d=%22M234256 14641h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d088%22 d=%22M0 29282h14641v14641H0z%22%2F%3E%3Cpath fill=%22%23d0d0d025%22 d=%22M29282 29282h14641v14641H29282z%22%2F%3E%3Cpath fill=%22%23d0d0d01e%22 d=%22M73205 29282h14641v14641H73205z%22%2F%3E%3Cpath fill=%22%23d0d0d085%22 d=%22M87846 29282h14641v14641H87846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M102487 29282h14641v14641h-14641zM117128 29282h14641v14641h-14641zM131769 29282h14641v14641h-14641zM161051 29282h14641v14641h-14641zM175692 29282h14641v14641h-14641zM190333 29282h14641v14641h-14641zM219615 29282h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d03c%22 d=%22M234256 29282h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 43923h14641v14641H0zM14641 43923h14641v14641H14641zM29282 43923h14641v14641H29282z%22%2F%3E%3Cpath fill=%22%23d0d0d065%22 d=%22M43923 43923h14641v14641H43923z%22%2F%3E%3Cpath fill=%22none%22 d=%22M58564 43923h14641v14641H58564zM73205 43923h14641v14641H73205zM87846 43923h14641v14641H87846z%22%2F%3E%3Cpath fill=%22%23d0d0d059%22 d=%22M102487 43923h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M117128 43923h14641v14641h-14641zM131769 43923h14641v14641h-14641zM146410 43923h14641v14641h-14641zM161051 43923h14641v14641h-14641zM175692 43923h14641v14641h-14641zM190333 43923h14641v14641h-14641zM204974 43923h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d078%22 d=%22M219615 43923h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M234256 43923h14641v14641h-14641zM0 58564h14641v14641H0zM29282 58564h14641v14641H29282zM58564 58564h14641v14641H58564zM73205 58564h14641v14641H73205z%22%2F%3E%3Cpath fill=%22%23d0d0d0ac%22 d=%22M87846 58564h14641v14641H87846z%22%2F%3E%3Cpath fill=%22%23d0d0d0a9%22 d=%22M117128 58564h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M131769 58564h14641v14641h-14641zM146410 58564h14641v14641h-14641zM161051 58564h14641v14641h-14641zM175692 58564h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d03e%22 d=%22M204974 58564h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M234256 58564h14641v14641h-14641zM0 73205h14641v14641H0zM14641 73205h14641v14641H14641zM29282 73205h14641v14641H29282z%22%2F%3E%3Cpath fill=%22%23d0d0d043%22 d=%22M43923 73205h14641v14641H43923z%22%2F%3E%3Cpath fill=%22none%22 d=%22M58564 73205h14641v14641H58564zM87846 73205h14641v14641H87846zM102487 73205h14641v14641h-14641zM117128 73205h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d0b3%22 d=%22M146410 73205h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M161051 73205h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d03c%22 d=%22M175692 73205h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d056%22 d=%22M190333 73205h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d02a%22 d=%22M204974 73205h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d003%22 d=%22M219615 73205h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M234256 73205h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d036%22 d=%22M0 87846h14641v14641H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M14641 87846h14641v14641H14641zM29282 87846h14641v14641H29282z%22%2F%3E%3Cpath fill=%22%23d0d0d04c%22 d=%22M43923 87846h14641v14641H43923z%22%2F%3E%3Cpath fill=%22none%22 d=%22M58564 87846h14641v14641H58564zM73205 87846h14641v14641H73205z%22%2F%3E%3Cpath fill=%22%23d0d0d006%22 d=%22M102487 87846h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M117128 87846h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d0b2%22 d=%22M146410 87846h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d024%22 d=%22M161051 87846h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M175692 87846h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d04b%22 d=%22M204974 87846h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d0c4%22 d=%22M219615 87846h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M234256 87846h14641v14641h-14641zM0 102487h14641v14641H0z%22%2F%3E%3Cpath fill=%22%23d0d0d0db%22 d=%22M14641 102487h14641v14641H14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M58564 102487h14641v14641H58564zM87846 102487h14641v14641H87846zM131769 102487h14641v14641h-14641zM146410 102487h14641v14641h-14641zM161051 102487h14641v14641h-14641zM175692 102487h14641v14641h-14641zM204974 102487h14641v14641h-14641zM219615 102487h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d091%22 d=%22M234256 102487h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 117128h14641v14641H0zM14641 117128h14641v14641H14641zM58564 117128h14641v14641H58564zM73205 117128h14641v14641H73205zM102487 117128h14641v14641h-14641zM117128 117128h14641v14641h-14641zM131769 117128h14641v14641h-14641zM161051 117128h14641v14641h-14641zM175692 117128h14641v14641h-14641zM204974 117128h14641v14641h-14641zM219615 117128h14641v14641h-14641zM234256 117128h14641v14641h-14641zM0 131769h14641v14641H0zM29282 131769h14641v14641H29282zM58564 131769h14641v14641H58564zM73205 131769h14641v14641H73205zM87846 131769h14641v14641H87846zM117128 131769h14641v14641h-14641zM131769 131769h14641v14641h-14641zM161051 131769h14641v14641h-14641zM175692 131769h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22%23d0d0d0ce%22 d=%22M190333 131769h14641v14641h-14641z%22%2F%3E%3Cpath fill=%22none%22 d=%22M219615 131769h14641v14641h-14641z%22%2F%3E%3C%2Fg%3E%3Cpath fill=%22%23f3f3f3%22 filter=%22url(%23c)%22 opacity=%22.8%22 d=%22M0 0h248889v140000H0z%22%2F%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3Cfilter id=%22c%22 x=%22-99555.6%22 y=%22-56000%22 width=%22348444.6%22 height=%22196000%22 filterUnits=%22userSpaceOnUse%22 primitiveUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22linearRGB%22%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%22.15%22 numOctaves=%224%22 seed=%2215%22 stitchTiles=%22no-stitch%22 x=%220%22 y=%220%22 width=%22248889%22 height=%22140000%22 result=%22turbulence%22%2F%3E%3CfeSpecularLighting surfaceScale=%2210%22 specularConstant=%22.61%22 specularExponent=%2220%22 lighting-color=%22%23fff%22 x=%220%22 y=%220%22 width=%22248889%22 height=%22140000%22 in=%22turbulence%22 result=%22specularLighting%22%3E%3CfeDistantLight azimuth=%223%22 elevation=%22100%22%2F%3E%3C%2FfeSpecularLighting%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");

}

#divEmpty {

  width: 600px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden; 
  justify-self: center;
}

#imagem {
  width: 600px; 
  height: 600px; 
  object-fit: cover; 
  object-position: center; 
}

#content {
 
  border-radius: 20px;
}

li {
  background-color: #E5E5F7;
  color: black;
  border-radius: 10px;
  margin-bottom: 15px;
  opacity: 1;

}

#divView {
  background-color: #E5E5F7;
  color: black;
  border-radius: 10px;
  margin-bottom: 15px;
  opacity: 1;

}

a {
  color: black;
}

p a {
  color: blue;
}

footer {
  background-color: #E5E5F7;
}

span {
  color: black;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.buttonBackground {
  background-color: #E5E5F7;
}

#logo-container {
    position: fixed;
    top: 48px;
    left: 30px;
    background: linear-gradient(to top, #DDD, #E5E5F7);
        border-radius: 20px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 130px;
    color: black;
    padding-inline: 15px;
    text-decoration: none;
    
  }

  .ulStyleNone {
    list-style-type: none;
  }
  
  #menu-opcoes {
    position: absolute;
    display: flex;
    min-width: 130px;
    top: 0;
    left: 70px;
  }

  #logo-container a {
    color: black;
    /* padding-top: 20px; */
    text-decoration: none;
  }
  
  
  